*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(6, 6, 43);
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
   
}
.menu{
    margin-right: 10px;
    
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
    
}
.logo img{
    background-color: transparent;
}


.links ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    
    
}
li a{
    padding: 30px 20px;
    text-decoration: none;
     font-size: 20px;
     color: white;

  
}
.search{
    margin-top: 10px;

}
.subscribe a{
    text-decoration: none;
    color: white;
}


.hero-section{
    margin: 50px;
}
.hero-section-text{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    

}
.head-one{
    margin-bottom: 20px;
}
